html {
    scroll-behavior: smooth;
}

.background-image {
    background-image: url('/images/songbirdbg4.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 150%;
    height: 100vh;
}

.navbar {
    background: rgba(255, 198, 239, 0);
    position: fixed;
    width: 100%;
    transition: background-image 0.5s;
}

.navcontainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navlinks {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.navbar-transparent {
    background: rgba(255, 198, 239, 0);
    position: fixed;
}

/* Reference: https://www.w3schools.com/css/css3_gradients.asp */
.navbar-opaque {
    background-image: linear-gradient(to right, #FFC7D3, #EFE9CF, #FFC7D3);
    position: static;
}

.navlinks a {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    padding-left: 10px;
    color: rgb(103, 34, 34);
}

@media (max-width: 900px) {
    .navbar {
        background-image: linear-gradient(to right, #FFC7D3, #EFE9CF, #FFC7D3);
    }

    .navlinks {
        flex-direction: column;
        align-items: flex-start;
    }

    .navlinks a {
        padding-left: 0px;
        padding-bottom: 10px;
    }

    .gallery {
        flex-direction: column;
    }
}

.navbar-scrolled {
    background-image: linear-gradient(to right, #FFC7D3, #EFE9CF, #FFC7D3);
}

.homebtn {
    position: relative;
    border-radius: 10px;
}

.homebtn:hover {
    text-shadow: 0 0 20px rgba(255, 255, 255, 0.8);
    transition: 0.5s;
}

.homebtn:active {
    text-shadow: 0 0 40px rgba(255, 255, 255, 0.9);
}

/* Reference:m ttps://www.w3schools.com/cssref/css_pr_scroll-margin-top.php */
#section2 {
    scroll-margin-top: 95px;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 30px;
    margin-left: 80px;
    margin-right: 80px;
}

.gallery img {
    height: auto;
    border-radius: 10px;
}

/* Reference: https://www.w3schools.com/howto/howto_css_cards.asp */
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: 23%;
    padding: 10px;
    background-color: white;
    border-radius: 20px;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.card-container {
    padding: 10px 20px;
}

.greytitle {
    color: #4B5563;
    font-weight: 900;
    font-size: 32px;
    margin-left: 94px;
    margin-top: 30px;
}

/* Reference: https://www.w3schools.com/howto/howto_js_rangeslider.asp */
.slider {
    margin-top: 12px;
    margin-left: 5px;
    margin-right: 5px;
    -webkit-appearance: none;
    width: 100%;
    height: 5px;
    border-radius: 5px;
    background: #1D1D1B;
    outline: none;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #1D1D1B;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #04AA6D;
    cursor: pointerF;
}

.fa-heart {
    color: #FB4377;
}

.titleandheart {
    display: flex;
    justify-content: space-between;
}

.playandslider {
    margin-top: 5px;
    display:flex;
}

.songtitle {
    font-weight: 700;
    font-size: 20px;
}